.PokemonCard {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(128, 128, 128, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    

    .closeBtn{
        width: 40px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    .CardContainer {

        position: relative;

        padding: 20px 40px;
        background-color: white;
        border-radius: 20px;
        opacity: 1;
        display: flex;
        flex-direction: column;

        color: rgba(9, 19, 55, 1);
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
    }

    .cardContainerTop {
        display: flex;
        align-items: center;
        
    }

    @media (max-width: 600px) {
        .cardContainerTop {
            flex-direction: column;
        }

        .CardContainer{
            transform: scale(0.7);
        }
       
      }
      

    .img {
        width: 250px;
    }

    .statsContainer {
        padding: 5px ;
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
        border-top: 1px solid rgba(212, 222, 231, 1)
    }

    .statsName {
        width: 180px;
    }

    .statsStickContainer{
        height: 10px;
        border-radius: 10px;
        background: rgba(33, 117, 244, 0.23);
        width: 100%;
    }

    .statsStick {
        z-index: 2;
        height: 10px;
        border-radius: 10px;
        background: rgba(33, 117, 244, 1)
    }

    .data {
        display: flex;
        gap: 10px;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
        width: 300px;
    }


    .mutedText{
        font-size: 16px;
        font-weight: 400;
    }

    .pokemonTypes {
        display: flex;
        gap: 10px;
    }

    .label1{
        padding-bottom: 10px;
    }

}