.pokemonListContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.popup-open {
    overflow: hidden;
}

.pokemonList {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.infiniteScroll {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 10px;
}



.pokemonCard {
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    .pokemonName {
        font-size: 22px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: center;

    }

}